[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
"autopep8" = "*"
rope = "*"

[packages]
requests = "*"
sqlalchemy = "*"
flask = "*"
"psycopg2" = "*"

[requires]
python_version = "3.7"

[scripts]
start_db = "docker run -p 5432:5432 --name imdb-postgres -e POSTGRES_PASSWORD=mysecretpassword -d postgres:10"
delete_db = "docker rm -f imdb-postgres"
